<div class="col-lg-12">
  <h1>Dashboard</h1>
</div>

<div class="col-lg-6">
  <h2>Projects</h2>
  <p><%= link_to "Add New", new_project_path %>
  <p class="lead">Your Projects</p>
  <% unless @projects.blank? %>
    <%= render :partial => 'shared/project' %>	
  <% else %>
    <h3>No projects yet.</h3>
  <% end %>
</div>

<div class="col-lg-6">
  <h2>Target Lists</h2>
  <p class="lead">Your Target Lists</p>
</div>