<div class="table-responsive">
  <table class="table table-striped table-hover ">
	  <tr>
	    <th>Name</th>
		<th>Actions</th>
	  </tr>
	  <% projects.each do |project| %>
	  <tr>
	    <td><%= project.name %></td>
	    <td><%= link_to 'Manage Users', manage_users_projects_path(project) %> | <%= link_to 'Edit', edit_project_path(project) %> | <%= link_to('Delete', project_path(project), :confirm => "Are you sure?", :method => :delete) %></td>
	  </tr>
	  <% end %>
  </table>
</div>  
 
