<h2>Edit Survey Item</h2>

<% if !@surveys_used.nil? && @surveys_used.count > 0 %>
<div class="alert alert-danger">
<p>
	This survey item is being used on:</p>
  <ul>
	<% @surveys_used.each do |s| %>
	  <li><%= s.name %></li>
	<% end %>
  </ul>
  <br />
  <p>If you edit this item, it will be edited on all surveys listed above. If you do not intend to edit the question for all <%= @surveys_used.count %> surveys then you should go <%= link_to "back", project_url(@project) %> and clone the question.</p>
<% end %>
</div>	
<%= render :partial => 'shared/forms/survey_item' %>